
.nav-item {
  margin-left: 2rem;
  color: white;
}

.jumbotron {
  background-image: url(../src/images/booksbkgr.jpg);  
  background-size: auto;
  height: 300px;  
  padding: 8% 35%;
}

.jumbotext {
  margin: auto;
  color: white;
  font-size: 40px;
  font-weight: bold;
  background: rgba(102, 102, 102, 0.6)
}

#formContainer, #resultsContainer {
  color: white;
  background-color: #343A40;
  padding: 2%;
  margin: 2%;
  font-size: 20px;
}

.searchResponse {
  border: white 1px solid;
  padding: 5px;
  margin: 2px;
}

/* .bookResult:not(:last-of-type) {
  margin-bottom: 2vw;
}

.bookResult h4 {
  font-size: 1.25rem;
  margin-bottom: 1vw;
}

.bookResult .row:first-of-type {
  margin-bottom: 1vw;
}

.bookResult img {
  display: inline-block;
  box-sizing: border-box;
  max-width: 100px;
  max-height: auto;
  margin-right: 2vw;
} */
